<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>cookieDemo01</servlet-name>
    <servlet-class>cn.zengchen233.servlet.CookieDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieDemo01</servlet-name>
    <url-pattern>/c1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cookieDemo02</servlet-name>
    <servlet-class>cn.zengchen233.servlet.CookieDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieDemo02</servlet-name>
    <url-pattern>/c2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cookieDemo03</servlet-name>
    <servlet-class>cn.zengchen233.servlet.CookieDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookieDemo03</servlet-name>
    <url-pattern>/c3</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessionDemo01</servlet-name>
    <servlet-class>cn.zengchen233.servlet.SessionDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionDemo01</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessionDemo02</servlet-name>
    <servlet-class>cn.zengchen233.servlet.SessionDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionDemo02</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>sessionDemo03</servlet-name>
    <servlet-class>cn.zengchen233.servlet.SessionDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionDemo03</servlet-name>
    <url-pattern>/s3</url-pattern>
  </servlet-mapping>

<!--  设置session的默认失效时间-->
  <session-config>
<!--    十五分钟后session自动失效，分钟为单位-->
    <session-timeout>15</session-timeout>
  </session-config>

</web-app>
