<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://mysql.zengchen233.cn:3306/广告墙</param-value>
  </context-param>
  
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>cn.zengchen233.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>error</servlet-name>
    <servlet-class>cn.zengchen233.servlet.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>get</servlet-name>
    <servlet-class>cn.zengchen233.servlet.GetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>cn.zengchen233.servlet.servletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/s1</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>cn.zengchen233.servlet.servletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/s2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>getParameter</servlet-name>
    <servlet-class>cn.zengchen233.servlet.getParameterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getParameter</servlet-name>
    <url-pattern>/getp</url-pattern>
  </servlet-mapping>
  
</web-app>
